


header{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #cc0033;
  height: 100px;
  width: 100vw;
}

#filterContainer{
  height: 100px;
  width:80vw;
  margin: auto;
  border: 1px solid black;
}

main{
  display: flex;
}


/* calendar styling */
#calendarSection{
  margin-top: 2rem;  
  margin: 2rem;

}

#calendarSection h2{
  text-align: center;


}

#calendar{
  /*width: 50vw;*/
}




/* examList styling */
#examListSection{
  margin:2rem;
}

#examList{
  width:40vw;
  height: 600px;
  
  overflow-y: scroll;

}

#examListSection h2{
  text-align:center;
  margin: 0 0 1.5rem 0;
  font-size: 1.75rem;
}

.examListItem{
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    ". date time description ."
    ". . . description .";
}

.examListDate{
  margin: .5rem .3rem;
  line-height: 1.6rem;
  grid-area: date;
}

.examListTime{
  margin: .5rem .3rem;
  line-height: 1.6rem;
  grid-area: time;
}

.examListDescription{
  margin: .5rem .3rem .5rem .6rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: description;

}

@media (max-width: 1300px){
  main{
    display: block;
  }

  #examListSection{
    margin:2rem .2rem;
  }

  #examList{
    width:99%;
    height: 600px;
    margin: 0;
    overflow-y: scroll;
    /* border: solid 1px #000; */
  }

  #calendarSection{
    margin-top: 2rem;  
    margin: 2rem .2rem;
  
  }


}