


header{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #cc0033;
  height: 100px;
  width: 100vw;
}

h1 a{
  color: black;
  text-decoration: none;
}



main{
  display: flex;
}

/* Tools Section Styling */
#tools{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* Exam Filter Styling */

#filterContainer{
  height: auto;
  width: 65%;
  max-width: 80vw;
  margin: 1rem 0;
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
}

#filterTitle{
  grid-area: 1/1/2/2;
  justify-self: start;
  margin: .5rem 1rem;
}

#filterButton{
  grid-area: 1/1/3/2 
}

.filterSelectionsContainer{
  grid-area: 1/2/3/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.filterSelectedItem{
  width: auto;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: .1rem .1rem .1rem .8rem;
  margin: .5rem;
  display: grid;
  grid-template-columns: auto .5rem auto;
  grid-template-areas: "name . x";
  justify-items: center;
  align-items: center;
}

.semesterSelecter{
  width: 9rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: .1rem .1rem .1rem .8rem;
  margin: .5rem;
  display: grid;
  grid-template-columns: auto .5rem auto;
  grid-template-areas: "name . x";
  justify-items: center;
  align-items: center;
}





/* calendar styling */
#calendarSection{
  margin-top: 2rem;  
  margin: 2rem;

}

#calendarSection h2{
  text-align: center;


}

#calendar{
  /*width: 50vw;*/
}




/* examList styling */
#examListSection{
  margin:2rem;
}

#examList{
  width:40vw;
  height: 600px;
  
  overflow-y: scroll;

}

#examListSection h2{
  text-align:center;
  margin: 0 0 1.5rem 0;
  font-size: 1.75rem;
}

.examListItem{
  display: grid;
  grid-template-columns: 1fr 4rem  auto 9rem 60% 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    ". date dot time description ."
    ". . . . description .";
}

#examList div :hover{
  background-color: lightgray;
}

.examListDate{
  margin: .5rem .3rem;
  line-height: 1.6rem;
  grid-area: date;
}

.examListTime{
  margin: .5rem .3rem;
  line-height: 1.6rem;
  grid-area: time;
}

.examListDescription{
  margin: .5rem .3rem .5rem .6rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: description;

}

.levelColorDot{
  margin: .5rem .3rem;
  line-height: 1.6rem;
  grid-area: dot;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  align-self: center;
}

/*Exam Details Form Stylying */
#examDetailsFormPaper{
  margin: 1rem auto;
  padding: 2rem 1rem 2rem 1rem;
  max-width: 650px;
}

@media (max-width: 1300px){
  main{
    display: block;
  }

  #examListSection{
    margin:2rem .2rem;
  }

  #examList{
    width:99%;
    height: 600px;
    margin: 0;
    overflow-y: scroll;
    /* border: solid 1px #000; */
  }

  #calendarSection{
    margin-top: 2rem;  
    margin: 2rem .2rem;
  
  }


}